@import url('https://fonts.googleapis.com/css2?family=Allerta&display=swap');

.btnComprar{
    width: 100%;
    border-radius: 8;
}
.btnCalcular{
    width: 100%;
    border-radius: 8;
    background-color: #7838d3;
    border: none;
}

.btnCalcular:hover{
    background-color: #6d1bde;
}
.contenedorComprar{
    font-size: 14px;
    font-family: 'Allerta', sans-serif;
    background-color: transparent;
    color: white;
    width: 400px;   
    border: none;

}
.contenedorSolicitudes{
    font-size: 14px;
    font-family: 'Allerta', sans-serif;
    background-color: transparent;
    color: white;
    width: 400px;
    border: none;
}
.contenedorPadre{
    border: 1px solid rgba(255, 255, 255, 0.348);
    border-radius: 10px;
}
.swal2-input{
    border:1px solid #7838d3;
    width: 300px;
}
